.services-cont{
    background: rgb(238,174,202);
background: radial-gradient(circle, #F1F1EF 0%, #F1F1EF 0%, #F1F1EF 100%);
    box-shadow: 1rem;
    max-width: 100%;
    overflow-x: hidden;
}

/* .Card{
   border-radius: 2rem;
   border-color: green;
   border-width: 5px;
   margin-right: 20px;
} */
.services-img{
    
    width: 60%;
    height: 30%;
}